//==================Шрифти=============

//font-family: 'Poppins', sans-serif;

//=============================

.conteiner {
   width: 100%;
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
}

// Змінні =================================

$ColGl: rgb(34, 38, 54);

$ColorTxt1: rgb(148, 148, 148);

$ColorTxt2: #fff;

// Шаблони ==============================

// Використання шаблону
// @extend %flexver;

// ====================================

// Місіни ===========================

// Створення міксіну
// @mixin flexver($fz){
// font-size: $fz;
//
// }

// Використання міксіну
// @includ flexver();

// ====================================
